body {
  margin: 0.5em;
}

#stars-frame .glyphicon {
  
  margin: 0.3em;
  font-size: 1.75em;
}

#stars-frame, #answer-frame {
  
  width: 40%;
  float: left;
}

#button-frame {
  
  width: 20%;
  float: left;
  text-align: center;
  margin-top: 50px;
}

#stars-frame .well, #answer-frame .well {
  
  height: 170px;
}

#numbers-frame .number, #answer-frame .well span {
  
  display: inline-block;
  margin: 0.5em;
  background-color: #bbb;
  width: 30px;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

#numbers-frame .selected-true {
  
  background-color: #e8e8e8;
  color: #ddd;
  cursor: not-allowed;
}

#numbers-frame .used-true {
  
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}

.title {
  display: inline-block;
}

.timer {
  display: block;
  width:  50px;
  font-size: 2.50em;
  text-align: center;
  border-radius: 30%;
  margin-top: 0.5em;
  float: right;
  background-color: #ff6600;
}